<div>
    <div class="container">
        {{!-- <div class="answer1">
            <p> {{answer}}answer1</p>
        </div> --}}
        <div class="question">
            <p>{{question.question}}</p>
        </div>
        {{!-- <div class="answer2">
            <p>{{answer}}answer2</p>
        </div> --}}
    </div>

<div class="container">
    <div class="card">
        <div class="played">
            <p>{{answer}}</p>
        </div>
    </div>
</div>
<div class="container" >
  {{#each hand}}
  <form method='POST' action='/play/{{id}}'>
  <input type='submit' />
    <div class="card">
      <div class="answer">
        <p>{{answer}}</p>
      </div>
    </div>
  </form>
  {{/each}}
</div>
